body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.hymns {
}

.hymns h2 {
    color: var(--gold);
}

.hymn-form input {
    /*margin: 10px;*/
    /*text-align: left;*/
}

.error-msg {
    color: red;
    margin: 10px 0;
}